server:
  server:
    port: 8080
    servlet:
      context-path: /ecommerce

spring:
  # English: This section is now GLOBAL and will work on 'default' profile
  datasource:
    url: jdbc:postgresql://localhost:5454/ecommerce_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    baseline-on-migrate: true

  # English: IMPORTANT - Since we use Spring Data JDBC, remove the JPA/Hibernate block.
  # We don't need Hibernate as it might conflict or try to scan for Entities.
  data:
    jdbc:
      repositories:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: DEBUG

---
# English: Specific profile for testing
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""